
/* --------------------------------------------------COMPANY------------------------------------------------------------------ */

.hero-section-company{
    background-image: url(../images/company/company-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--bayon-font-family);
    color: white;
    height: 500px;
}
.hero-company-text{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3% 0 3%;
}
.hero-company-text ul{
    list-style-position: inside;
    font-size: 40px;
    font-family: var(--outfit-font-family);
}

.hero-section-company h1{
    font-size: 200px;
    line-height: 150px;
    font-weight: lighter;
    margin-left: 0;
}

.company-mid-section{
    display: flex;
    margin-top: 150px;
}
.company-mid-section-1{
    flex-basis: 50%;
    padding: 3% 3% 3% 3%;
}
.company-mid-section-1 h1{
    width: 98%;
}
.company-mid-section-1 ul{
    list-style-position: inside;
}
.company-mid-section-1 p{
    margin: 3% 0;
}

.company-mid-section-2{
    flex-basis: 50%;
}
.company-mid-section-2 img{
    width: 70%;
    margin: 0 0% 0 15%;
}


.company-approach-section{
    background-image: url(../images/company/Background-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 150px;
}

.company-approach-text{
    padding: 0 3% 0 3%;
    margin-top: -46.5%;
    width: 50%;

}
.company-approach-text h1{
    margin: 10% auto;
    color: white;
}

.advantage-process-section{
display: flex;
margin-top: 200px;
padding: 10% 3% 0 3%;
background-image: url(../images/company/Background-6.png);
background-repeat: no-repeat;
background-size: cover;

}
.advantage-process-part-1{
    flex-basis: 45%;
}
.advantage-process-part-2{
    flex-basis: 55%;
}
.advantage-process-part-2 img{
    width: 100%;
}
.advantage-process-part-1 h2{
    font-size: 55px;
    line-height: 55px;
}
.advantage-process-part-1 p{
    margin: 40px auto;
}




@media screen and (min-width: 1920px) {
    .wrapper{
        padding: 0 15% 0 15%;
    }
    .hero-section{
        padding: 0 15%;
    }
    .choose-section {
        padding: 0 15%;
    }

    .mission-section {
        padding: 0 10%;
        margin-top: -36.5%;
    }
    .meal-section {
        grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
        justify-content: center;
        gap: 115px;
    }
    .news-section {
        justify-content: space-between;
        padding: 0 15%;
    }

    /* --------------------------------------------------COMPANY------------------------------------------------------------------ */
.hero-section-company{
    padding: 0 15% 0 15%;
    }
    .company-mid-section{
        padding: 0 15% 0 15%;
    }

    .advantage-process-section{
        padding: 0 15% 0 15%;
    }
    .company-approach-text {
        padding: 0 15% 0 15%;
        margin-top: -26.5%;
    }

    .company-approach-text h1 {
        margin: 5% auto;
    }


    .news-letters-carts {
        grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
        justify-content: center;
        gap: 60px;
    }


}


@media screen and (min-width: 1441px) {


    /* --------------------------------------------------COMPANY------------------------------------------------------------------ */
.hero-section-company{
    padding: 0 10% 0 10%;
    }
    .company-mid-section{
        padding: 0 10% 0 10%;
    }

    .company-approach-text {
        padding: 0 10% 0 10%;
        margin-top: -46%;
        width: 50%;
    }


    .advantage-process-section{
        padding: 0 10% 0 10%;
    }

}






/* upto 1200px */
@media screen and (max-width: 1200px) {
    .nav-inner{
        justify-content: space-between;
        padding: 0 20px 0px 20px;
    }
    .nav-links{
        display: none;
    } 
    .nav-hamburger{
        visibility: visible;
    }
    .sticky{
        display: block;
        width: 100%;
        z-index: 10;
    } 

    
    .hero-section {
        padding: 0 10px;
    }
    .choose-section {
        padding: 0 10px;
    }





}

@media screen and (max-width: 1024px){






/* --------------------------------------------------------------Company--------------------------------------------------------- */
.hero-section-company{
    height: 600px;
}

.hero-company-text ul{
    font-size: 35px;
}

.hero-section-company h1{
    font-size: 160px;
    line-height: 140px;
}

.company-mid-section{
    flex-direction: column;
    margin-top: 100px;
}
.company-mid-section-1{
    flex-basis: 100%;
    padding: 3% 3% 3% 3%;
}
.company-mid-section-1 h1{
    width: auto;
}

.company-mid-section-1 p{
    margin: 3% 0;
}

.company-mid-section-2{
    flex-basis: 100%;
}
.company-mid-section-2 img{
    width: 50%;
    margin: 0 0% 0 25%;
}

.company-approach-section{
    height: 600px;
    margin-top: 100px;
}

.company-approach-text{
    padding: 0 3% 0 3%;
    margin-top: -48%;
    width: auto;
    text-align: center;
}
.company-approach-text h1{
    margin: 5% auto;
}

.advantage-process-section{
flex-direction: column;
margin-top: 270px;
padding: 10% 3% 0 3%;

}
.advantage-process-part-1{
    flex-basis: 100%;
    text-align: center;
}
.advantage-process-part-2{
    flex-basis: 100%;
}

.advantage-process-part-1 h2{
    font-size: 45px;
    line-height: 45px;
}
.advantage-process-part-1 p{
    margin: 30px auto;
}






}

@media screen and (max-width:768px){

    


.company-approach-section{
    height: 500px;
    width:100%;
}

.company-approach-text{

    margin-top: -55%;
    text-align: center;

}
.company-approach-text h1{
    margin: 5% auto;
}


/* --------------------------------------------------------------Company--------------------------------------------------------- */



.company-approach-section{
    height: 500px;
    margin-top: 100px;
}

.company-approach-text{
    margin-top: -51%;
}
.company-approach-text h1{
    margin: 5% auto;
}

.advantage-process-section{
margin-top: 250px;
}

.advantage-process-part-1 h2{
    font-size: 40px;
    line-height: 40px;
}
.advantage-process-part-1 p{
    margin: 28px auto;
}




}


@media  screen and (max-width: 425px) {





 
/* --------------------------------------------------------------Company--------------------------------------------------------- */
.hero-section-company{
    height: 80vh;
}

.hero-company-text ul{
    font-size: 25px;
}

.hero-section-company h1{
    font-size: 100px;
    line-height: 80px;
}

.company-mid-section{
    margin-top: 60px;
}

.company-mid-section-2 img{
    width: 90%;
    margin: 0 5% 0 5%;
}

.company-approach-text{
    margin-top: -88%;
}
.company-approach-text h1{
    margin: 5% auto;
}

.advantage-process-section{
margin-top: 200px;
}

.advantage-process-part-1 h2{
    font-size: 40px;
    line-height: 40px;
}






 
 
 



}

@media screen and (max-width:375px){


 
/* --------------------------------------------------------------Company--------------------------------------------------------- */
.hero-section-company{
    height: 80vh;
}

.hero-company-text ul{
    font-size: 22px;
}

.hero-section-company h1{
    font-size: 80px;
    line-height: 60px;
}

.company-approach-section{
    height: 500px;
}

.company-approach-text{
    margin-top: -98%;
}

.advantage-process-section{
margin-top: 150px;
}

.advantage-process-part-1 h2{
    font-size: 30px;
    line-height: 30px;
}
.advantage-process-part-1 p{
    margin: 25px auto;
}


}

@media screen and (max-width: 320px){


     
/* --------------------------------------------------------------Company--------------------------------------------------------- */

.hero-company-text ul{
    font-size: 18px;
}

.company-approach-text{
    margin-top: -112%;
}





}